<div class="site-secondary-header">
  <div class="site-secondary-header-container">
    <div class="site-secondary-header-group">
      <div class="site-secondary-header-dropdown">
        <a class="site-secondary-header-dropdown-arrow" href="#"></a>
          <a href="//developer.jwplayer.com/jw-player/" class="site-secondary-header-dropdown-link">JW Player</a>
          <a href="//developer.jwplayer.com/jw-platform/" class="site-secondary-header-dropdown-link is-selected">JW Platform</a>
          <a href="//developer.jwplayer.com/android-sdk/" class="site-secondary-header-dropdown-link">Android SDK</a>
          <a href="//developer.jwplayer.com/ios-sdk/" class="site-secondary-header-dropdown-link">iOS SDK</a>
          <a href="//developer.jwplayer.com/tools/" class="site-secondary-header-dropdown-link">Developer Tools</a>
          <a href="//developer.jwplayer.com/release-notes/" class="site-secondary-header-dropdown-link">Release Notes</a>
      </div>
    </div>
      <a href="//developer.jwplayer.com/jw-platform/docs/delivery-api-reference/">Delivery API</a>
      <a href="//developer.jwplayer.com/jw-platform/reference/v1/">Management API</a>
      <a href="//developer.jwplayer.com/jw-platform/docs/developer-guide/">Developer Guide</a>
      <a href="//developer.jwplayer.com/jw-platform/docs/developer-guide/release-notes/">Release Notes</a>
  </div>
</div>
