---

---

<!DOCTYPE html>
<html>
<head>
  <title>Hook Preview Mode</title>
  <link rel="icon" type="image/png" href="./favicon.png" />
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  {% include site-header.html %}
  {% include site-secondary-header.html product="player" %}
  <div class="product-hero">
    <div class="product-hero-container">
      <h1>Hook Preview Mode</h1>
      <p>Here you can test UI changes on the site headers, footer, and any new components before updating them on a live site. To isolate a specific component outside of the context of this page, select it from the list below.</p>
      <ul>
        {% for component in site.data.components %}
        <li>
          <p><a href="/components/{{component.filename}}">{{component.component_name}}</a></p>
        </li>
        {% endfor %}
      </ul>
      <div class="row">
        <span>Small </span>
        <svg class="jw-icon small">
          <use href="test-sprite.svg#add"></use>
        </svg>
        <svg class="jw-icon small">
          <use href="test-sprite.svg#download"></use>
        </svg>
        <svg class="jw-icon small">
          <use href="test-sprite.svg#calendar"></use>
        </svg>
      </div>
      <div class="row">
        <span>Medium </span>
        <svg class="jw-icon medium">
          <use href="test-sprite.svg#add"></use>
        </svg>
        <svg class="jw-icon medium">
          <use href="test-sprite.svg#download"></use>
        </svg>
        <svg class="jw-icon medium">
          <use href="test-sprite.svg#calendar"></use>
        </svg>
      </div>
      <div class="row">
        <span>Large </span>
        <svg class="jw-icon large">
          <use href="test-sprite.svg#add"></use>
        </svg>
        <svg class="jw-icon large">
          <use href="test-sprite.svg#download"></use>
        </svg>
        <svg class="jw-icon large">
          <use href="test-sprite.svg#calendar"></use>
        </svg>
      </div>
    </div>
  </div>
  {% include site-footer.html selected="developer" %}
  <script src="main.min.js"></script>
</body>
</html>
