---

---

<!DOCTYPE html>
<html>
<head>
  <title>JW Sites Commons Demo</title>
  <link rel="stylesheet" href="./style.css" />
</head>
<body>
  {% include site-header.html %}
  {% include site-secondary-header.html product="player" %}
  <div class="product-hero">
    <div class="product-hero-container">
      <h1>JW Sites Commons Demo</h1>
      <p>This demo can be used to preview and test out common components in the context of a real page. You can develop your changes to a component alongside this page to ensure that it looks and functions as expected before integrating them to a live site.</p>
      <p>To preview a specific standalone component outside of the context of this page, select it from the list below.</p>
      <ul>
        {% for component in site.data.components %}
        <li>
          <p><a href="/components/{{component.filename}}">{{component.component_name}}</a></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% include site-footer.html selected="developer" %}
  <script src="main.min.js"></script>
</body>
</html>