@black: #000000;
@black-transparent-80: fade(@black, 80%);
@black-transparent-40: fade(@black, 40%);
@white: #FFFFFF;
@white-transparent: fade(@white, 80%);

@jw-charcoal: #252525;
@jw-red: #FF0046;
@jw-blue: #0B7EF4;
@jw-slate: #AAB4C8;
@jw-gray: #D9DDE6;
@jw-light-gray: #ECEEF2;
@jw-white: #F2F5F9;
@jw-midnight: #475470;
@jw-scarlet: #97052D;
@jw-navy: #0F4E90;
@jw-pink: #FF4664;
@jw-teal: #2BBECF;
@jw-violet: #9000BE;
@jw-purple: #7864FF;
@jw-gold: #FF9400;
@jw-goldenrod: #FFB600;
@jw-sun: #FFD700;
@jw-grassgreen: #00C669;
@jw-springgreen: #00F096;

/* Color Blends */

@jw-midnight-charcoal: mix(@jw-charcoal, @jw-midnight); // #363D4B;
@jw-slate-gray: mix(@jw-slate, @jw-gray); // #C2C9D7;
@jw-midnight-gray: mix(@jw-midnight, @jw-gray); // #9099AB;
@jw-midnight-slate: mix(@jw-midnight, @jw-slate); // #79849C;
@jw-blue-white: mix(@jw-blue, @jw-white, 5%); // #E6EFF9;

/* Data Color Patterns - NEW from CVU */

/* Palette A */
@palette-a: #f7bdad, #e3949d, #ca7396, #a85895, #784496, #263995;

@palette-a1: #f7bdad;
@palette-a2: #e3949d;
@palette-a3: #ca7396;
@palette-a4: #a85895;
@palette-a5: #784496;
@palette-a6: #263995;

/* Palette B */
@palette-b: #a3ee87, #00cb9a, #00a3ac, #0077ac, #004a93, #131b60;

@palette-b1: #a3ee87;
@palette-b2: #00cb9a;
@palette-b3: #00a3ac;
@palette-b4: #0077ac;
@palette-b5: #004a93;
@palette-b6: #131b60;

/* Palette C */
@palette-c: #f7c966, #f69958, #e86a5c, #cb3e69, #9d2076, #5a1d7e;

@palette-c1: #f7c966;
@palette-c2: #f69958;
@palette-c3: #e86a5c;
@palette-c4: #cbce69;
@palette-c5: #9d2076;
@palette-c6: #5a1d7e;

/* Single Hue - A */
@single-hue-a: #cd3138, #da5550, #e57369, #ef8f84, #f8aba0, #ffc6bd;

@single-hue-a1: #cd3138;
@single-hue-a2: #da5550;
@single-hue-a3: #e57369;
@single-hue-a4: #ef8f84;
@single-hue-a5: #f8aba0;
@single-hue-a6: #ffc6bd;

/* Single Hue - B */
@single-hue-b: #459036, #64a652, #82bb6f, #9fd28c, #bce8aa, #daffc9;

@single-hue-b1: #459036;
@single-hue-b2: #64a652;
@single-hue-b3: #82bb6f;
@single-hue-b4: #9fd28c;
@single-hue-b5: #bce8aa;
@single-hue-b6: #daffc9;

/* Single Hue - C */
@single-hue-c: #0073b3, #2e8dc3, #51a7d2, #74c1e0, #98dbef, #bef5ff;

@single-hue-c1: #0073b3;
@single-hue-c2: #2e8dc3;
@single-hue-c3: #51a7d2;
@single-hue-c4: #74c1e0;
@single-hue-c5: #98dbef;
@single-hue-c6: #bef5ff;

/* Color Scale - A */
@color-scale-a: #dc6428, #e7b657, #f1feaf, #81b987, #1c7464;

@color-scale-a1: #dc6428;
@color-scale-a2: #e7b657;
@color-scale-a3: #f1feaf;
@color-scale-a4: #81b987;
@color-scale-a5: #1c7464;

/* Color Scale - B */
@color-scale-b: #a40444, #d584ac, #ffe8ff, #9a85b9, #04367c;

@color-scale-b1: #a40444;
@color-scale-b2: #d584ac;
@color-scale-b3: #ffe8ff;
@color-scale-b4: #9a85b9;
@color-scale-b5: #04367c;

/* Color Scale - C */
@color-scale-c: #d49c44, #ecc188, #ffead0, #e7a491, #c56077;

@color-scale-c1: #d49c44;
@color-scale-c2: #ecc188;
@color-scale-c3: #ffead0;
@color-scale-c4: #e7a491;
@color-scale-c5: #c56077;
