@font-face {
    font-family: Karbon;
    src: url('@{cdn-path-fonts}/karbonweb-regular.woff');
    font-weight: 300;
}

@font-face {
    font-family: Karbon;
    src: url('@{cdn-path-fonts}/karbonweb-medium.woff');
    font-weight: 400;
}

@font-face {
    font-family: Karbon;
    src: url('@{cdn-path-fonts}/karbonWeb-semibold.woff');
    font-weight: 500;
}


.column {
	padding-right: 20px;
	display: inline-block;
	vertical-align: middle;
}


/* PRIMARY COLORS */

.btn.red { background-color: #ff0046;}
.btn.blue { background-color: #0b7ef4;}
.btn.gray { background-color: #aab4c8;}
.btn.light-gray { background-color: #d9dde6;}
.btn.charcoal { background-color: #252525;}
.btn.white { background-color: #fff;}

/* SECONDARY COLOR CLASSES */

.btn.pink { background-color: #ff4664; }
.btn.teal { background-color: #2bbecf; }
.btn.dark-purple { background-color: #9000be;}
.btn.purple { background-color: #7864ff;}
.btn.orange { background-color: #ff9400;}
.btn.yellow { background-color: #ffd700;}
.btn.dark-green { background-color: #009b3c;}
.btn.green { background-color: #00f096;}


/* HOVER COLORS */

.btn.red:hover { background-color: #97052d; color: #fff; }
.btn.blue:hover { background-color: #0f4e90; color: #fff; }
.btn.gray:hover { background-color: #96a0b4; color: #fff; }
.btn.charcoal:hover { background-color: #000; color: #fff;}
.btn.white:hover { background-color: #eceef2; color: #000; }

/* ----- */

/* BUTTON TEMPLATES */

.btn {
	color: #fff;
	border-radius: 3px;
	text-transform: uppercase;
	width: auto;
	font-family: Karbon, sans-serif;
	text-align: center;
	border: none;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}

.btn-icon-sq {
	width: 35px;
	height: 35px;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-icon-rect {
	padding: 0 5px;
	height: 35px;
	width: 35px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.btn-set {
	vertical-align: middle;
	margin: 0 auto;
}


a.btn:hover {
	text-decoration: none;
}

.primary-lg {
	padding: 10px 20px;
	font-size: 15px;
	line-height: 20px;
}

.secondary-med {
	padding: 10px 20px;
	font-size: 14px;
	line-height: 16px;
}

.tertiary-sm {
	padding: 10px 15px;
	font-size: 13px;
	line-height: 10px;
}

.inactive {
	border: 2px solid rgba(170,180, 200, .5);
	color: rgba(170,180, 200, .5);
	padding: 8px 15px;
}


/* ------ */

/* TEXT LINK STYLES */

.headline {
	text-align: left;
	font-family: Karbon, sans-serif;
	color: #128deb;
	text-decoration: none;
	font-weight: 400;
	vertical-align: middle;
}

a.headline:hover {
	text-decoration: underline;
	color: #000;
}

.hed-lg, .hed-med, .hed-sm {
	color: #000;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

a.hed-lg, a.hed-med, a.hed-sm {
	color: #0b7ef4;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.hed-lg {
	font-size: 21px;
}

.hed-med {
	font-size: 17px;
}

.hed-sm {
	font-size: 15px;
}

.subhead  {
	font-size: 14px;
	color: rgba(37,37,37, .55);
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 5px 0;
	font-style: normal;
	font-family: 'Karbon', sans-serif;
	line-height: 17px;
	font-weight: 400;
	text-transform: none;
}

/* ------ */

.canvas {
	background-color: #f6f7f9;
	padding: 20px;
	width: auto;
}

.canvas .row {
	padding: 0;
}

.canvas .table-metadata {
	height: 40px;
	margin-bottom: 10px;
	vertical-align: middle;
}

.canvas .table-metadata .headline {
	vertical-align: middle;
	padding-top: 7px;
}

.module {
	width: 100%;
	height: auto;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid rgba(217,221, 230, .90);
	margin-right: 20px;
}

.module-body {
	padding: 15px;
	margin: 0;
}

.module-body .column {
	vertical-align: top;
}

.module-header {
	margin: 0;
	padding: 0;
	height: 30px;
	background-color: #fbfcfc;
	padding: 5px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid rgba(217,221, 230, .90);
}

.module-header h1 {
	margin: 0;
	font-family: Karbon, sans-serif;
	font-size: 16px;
	line-height: 29px;
	text-transform: uppercase;
	font-weight: 400;
	text-align: left;
	display: inline;
}

.module-header a.hed-sm {
	display: inline;
	font-size: 13px;
	color: #0b7ef4;
	float: right;
	line-height: 29px;
}

.module-header a.hed-sm:hover {
	text-decoration: underline;
}

.module-header .btn {
	float: right;
}

.module-form-row {
	padding-top: 15px;
	margin: 0;
}

.module-row {
	padding: 10px 0;
	border-bottom: 1px solid rgba(217,221, 230, .50);
	margin: 0;
}

.module-row:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin: 0;
}

label {
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 10px;
	font-family: Karbon, sans-serif;
}

label.error-label {
	color: #ff0046;
}

table {
	background-color: #fff;
	width: 100%;
	padding: 0;
	height: auto;
	border: 1px solid rgba(217,221, 230, .90);
	border-radius: 3px;
}

.module table {
	border: none;
	border-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

thead td {
	background-color: #f8f9fa;
	text-transform: uppercase;
	font-size: 10px;
	color: #97a0b3;
	font-weight: bold;
	padding: 13px;
	text-align: left;
	border-right: 1px solid rgba(217,221, 230, .90);
	border-bottom: 1px solid rgba(217,221, 230, .90);
}

thead td:last-child {
	border-right: none;
}

tbody td{
	font-size: 12px;
	line-height: 14px;
	color: #777;
	vertical-align: middle;
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	text-align: left;
	border-bottom: 1px solid rgba(217,221, 230, .90);
	padding: 0 15px;
	height: 50px;
	width: auto;
}

table.list tbody td.main {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	padding: 0 15px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

tbody tr:last-child td {
	border-bottom: none;
}

tr:nth-child(even) {
	background-color: #fbfbfc;
	border-bottom: 1px solid rgba(217,221, 230, .90);
	border-top: 1px solid rgba(217,221, 230, .90);
}

tr.selected {
	background-color: #e7f3fd;
}

td img.skin {
	height: 20px;
	width: auto;
}

td img.thumbnail {
	height: 40px;
	width: auto;
	margin-right: 10px;
	padding: 0;
	clear: both;
	vertical-align: middle;
}

td a {
	color: #000;
}

td a:hover {
	text-decoration: underline;
}

td.preview {
	width: 70px;
}

td.preview img {
	margin-right: 0;
}

table.list td:last-child {
	width: 30px;
}

table.list td:first-child {
	width: 10px;
}


input, textarea {
	height: 35px;
	width: 280px;
	border-radius: 3px;
	border: 1px solid #bec8dc;
	padding: 0 10px;
	font-size: 13px;
	margin: 0;
	font-weight: 400;
	font-family: Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
}

input[type="search"] {
	background-image: url('//icons.jwplayer.com/icons/black/search.svg');
	background-repeat: no-repeat;
	background-position: 96% center;
	background-size: 5%;
}


input[type="content-name"] {
	background-image: url('//icons.jwplayer.com/icons/black/edit.svg');
	background-repeat: no-repeat;
	background-position: 96% center;
	background-size: 3%;
	font-weight: 300;
	width: 400px;
}

input[type="checkbox"] {
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
}

textarea[type="description"] {
	height: 140px;
	padding: 10px;
	font-weight: 300;
}

.disabled {
	background-color: #f6f7f9;
	color: #76829a;
}

.error {
	border: 1px solid #ff0046;
}


.input-include-btn input {
	margin-right: 10px;
}

/* TAB STYLES */

.tabs ul li {
	margin: 0;
	background-color: #fff;
	color: #000;
	font-weight: 400;
	text-transform: uppercase;
	font-family: Karbon, sans-serif;
	font-size: 15px;
	cursor: pointer;
	list-style: none;
	width: 100%;
}

.t-vertical ul li {
	padding: 12px;
	margin-bottom: 5px;
	border-radius: 3px;
	border: 1px solid rgba(217,221, 230, .90);
	width: 15%;
	position: relative;
}

.t-vertical ul li:hover {
	color: #ff0046;
}


.t-vertical ul li.active {
	color: #ff0046;
	background-image: url('//icons.jwplayer.com/icons/color/arrow-right-red.svg');
	background-size: 4%;
	background-repeat: no-repeat;
	background-position: 94% 50%;
}

.t-horizontal ul {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(217,221, 230, .9);
	background-color: rgba(217,221, 230, .3);
	max-height: 42px;
}

.t-horizontal ul li {
	display: inline-table;
	text-align: center;
	width: 32.33%;
	background: transparent;
	position: relative;
	line-height: 40px;
	vertical-align: top;
}

.t-horizontal ul li:last-child {
	border-right: none;
}


.t-horizontal ul li.active {
	background-color: #fff;
	border-top: 3px solid rgba(170,180, 190, 1);
	border-top-right-radius: 0;
	border-top-left-radius: 0 ;
	border-bottom: none;
	position: relative;
	border-left: 1px solid rgba(217,221, 230, .9);
	border-right: 1px solid rgba(217,221, 230, .9);
	top: -7px;
	padding-bottom: 1px;
	line-height: 46px;
}


/* ------ */
