/**
 * Karbon light font face declaration
 * font-family: Karbon, Arial, sans-serif; font-weight: 200;
 * font-family: @karbon; font-weight: @karbon-light;
 */
@font-face {
  font-family: Karbon;
  src: url('@{cdn-path-fonts}/karbonweb-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/**
 * Karbon regular font face declaration
 * font-family: Karbon, Arial, sans-serif; font-weight: 300;
 * font-family: @karbon; font-weight: @karbon-regular;
 */
@font-face {
  font-family: Karbon;
  src: url('@{cdn-path-fonts}/karbonweb-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/**
 * Karbon medium font face declaration
 * font-family: Karbon, Arial, sans-serif; font-weight: 400;
 * font-family: @karbon; font-weight: @karbon-medium;
 */
@font-face {
  font-family: Karbon;
  src: url('@{cdn-path-fonts}/karbonweb-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/**
 * Karbon semibold font face declaration
 * font-family: Karbon, Arial, sans-serif; font-weight: 500;
 * font-family: @karbon; font-weight: @karbon-semibold;
 */
@font-face {
  font-family: Karbon;
  src: url('@{cdn-path-fonts}/karbonweb-semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/**
 * Karbon bold font face declaration
 * font-family: Karbon, Arial, sans-serif; font-weight: 600;
 * font-family: @karbon; font-weight: @karbon-bold;
 */
@font-face {
  font-family: Karbon;
  src: url('@{cdn-path-fonts}/karbonweb-bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
