@site-secondary-header-height: 56px;

.site-secondary-header {
  background: @jw-charcoal;
  height: @site-secondary-header-height;
  font-family: @open-sans;
  border-bottom: 1px solid mix(@black,@jw-charcoal,50%);

  &-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: @max-width;

    a {
      display: none;
      width: 100%;

      &:hover {
        background-color: fade(@black,50%);
      }
    }
    .site-secondary-header-dropdown-link {
      display: none;
    }
  }
  &-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-dropdown {
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-right: 1px solid @black;
    background-color: @jw-charcoal;
    border-bottom: 1px solid mix(@black,@jw-charcoal,50%);
    margin-bottom: -1px;

    a:hover {
      background-color: fade(@black,50%);
    }
    .is-selected {
      color: white;
      display: block;
    }

    &.is-open .site-secondary-header-dropdown-link {
      display: block;
    }
  }
  a {
    color: white;
    font-size: 15px;
    font-weight: @open-sans-semibold;
    line-height: 55px;
    padding: 0 20px;
    text-align: left;
    text-decoration: none;

    &.site-secondary-header-dropdown-arrow {
      background-image: url('//icons.jwplayer.com/icons/white/expand.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 12px;
      content: '';
      display: block;
      height: @site-secondary-header-height;
      line-height: @site-secondary-header-height;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: @site-secondary-header-height;
      z-index: 1;
    }
  }
}


@media (min-width: 900px) {
  .site-secondary-header-container {
    flex-direction: row;
  }
  .site-secondary-header-group {
    height: 100%;
    position: relative;
  }
  .site-secondary-header-dropdown .is-selected {
    position: relative;
  }
  .site-secondary-header-container > a {
    display: block;
    text-align: center;
    border-right: 1px solid @black;
  }
  .site-secondary-header-group {
    flex: 2;
    height: @site-secondary-header-height;
  }
  .site-secondary-header-container > a {
    flex: 1;
    position: relative;
  }
  .site-secondary-header a::before,
  .site-secondary-header-dropdown a::after,
  .site-secondary-header-dropdown.is-open::before {
    background-color: @jw-charcoal;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .site-secondary-header a::before {
    left: auto;
    right: 0;
  }
  .site-secondary-header-dropdown.is-open::before {
    bottom: 0;
    height: 1px;
    top: auto;
    width: 100%;
  }
  .site-secondary-header-dropdown-arrow::after {
    display: none;
  }

  .site-secondary-header-dropdown {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
